<h2>Add product</h2>
    
    <form method="POST" action="/product/add">

        <label>Product Title</label>
        <input type="text" name="title" id="title"> <br><br>

        <label>Product Price</label>
        <input type="text"  name="price" id="price"><br><br>

        <label>Quantity on hand</label>
        <input type="date" name="quantity" id="quantity"> <br><br>

        <label>Product Description</label>
        <textarea id="description" name="description"></textarea> <br><br>

        <label> Taxable Item </label>

        <input type="checkbox" name="taxable" value="yes">yes<br>
         <input type="checkbox" name="taxable" value="no">no<br>
        


    </form>
