<h2>product listing </h2>
 
<div class="products_list">
    {{#each list}}    
        {{this.title}}<a href="/edit/{{this._id}}">EDIT</a><br>
    {{else}}
        No Products exist yet!
    {{/each}}
</div>